<!-- Footer Top section -->
<section class="footer-top-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 ft-widget">
                <div class="ft-title">
                    <h4>Locations</h4>
                </div>
                <ul>
                    <li><a href="">New York</a></li>
                    <li><a href="">New Jersey</a></li>
                    <li><a href="">Miami</a></li>
                    <li><a href="">Colorado</a></li>
                    <li><a href="">Las Vegas</a></li>
                    <li><a href="">San Diego</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 ft-widget">
                <div class="ft-title">
                    <h4>Top Shows</h4>
                </div>
                <ul class="order-list">
                    <li><a href="/"><span>1</span>DJ Rooney and Friends</a></li>
                    <li><a href=""><span>2</span>Get Paid </a></li>
                    <li><a href=""><span>3</span>Who’s On Top?</a></li>
                    <li><a href="/stream/setup/instructions"><span>4</span>How to set up your stream</a></li>
                    <li><a href=""><span>5</span>Electronic Worriors</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 ft-widget">
                <div class="ft-title">
                    <h4>Blog</h4>
                </div>
                <div class="ft-blog-widget">
                    <div class="bw-item">
                        <div class="bw-thumb set-bg" data-setbg="{{ asset('assets/img/blog/thumb/1.jpg') }}"></div>
                        <div class="bw-content">
                            <p>5 Things to know when you attend a music festival. </p>
                            <a href="#">Continue Reading</a>
                        </div>
                    </div>
                    <div class="bw-item">
                        <div class="bw-thumb set-bg" data-setbg="{{ asset('assets/img/blog/thumb/2.jpg') }}"></div>
                        <div class="bw-content">
                            <p>5 Things to know when you attend a music festival. </p>
                            <a href="#">Continue Reading</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 ft-widget">
                <div class="ft-title">
                    <h4>Contact</h4>
                </div>
                <div class="ft-contact-widget">
                    <p><span>@:</span> <a href="/stream/setup/instructions">Support</a></p>
                    <p><span>A:</span> Company Address</p>
                    <p><span>T:</span> 555-555-5555</p>
                    <p><span>E:</span> fake@email.com</p>
                    <img src="{{ asset('assets/img/logo.png') }}" class="footer-logo" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer Top section end -->


<!-- Footer section -->
<footer class="footer-section">
    <div class="contaoner">
        <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>

    </div>
</footer>
-->

<!-- Footer section end -->
