<header class="header-section" style="background-image: url('{{ asset('assets/img/bg.png') }}')">
    <div class="header-warp">
        <!-- Site Logo -->
        <a href="/" class="site-logo">
            <img src="{{ asset('assets/img/logo.png') }}" alt="">
        </a>
        <!-- responsive -->
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <!-- Main Menu -->
        <br/>
        <ul class="main-menu">
            <li{% if section|default and section == 'home' %} class="active"{% endif %}><a href="/">Home</a></li>
            <li{% if section|default and section == 'live' %} class="active"{% endif %}><a href="/list/streams">Live Now</a></li>
            <!-- <li{% if section|default and section == 'Band' %} class="active"{% endif %}><a href="/category/Band">Bands</a></li>
            <li{% if section|default and section == 'DJ' %} class="active"{% endif %}><a href="/category/DJ">DJ’s</a></li>
            <li{% if section|default and section == 'Performer' %} class="active"{% endif %}><a href="/category/Performer">Shows</a></li>
            <li{% if section|default and section == 'users' %} class="active"{% endif %}><a href="/list/profiles">Users</a></li> -->
            <!-- <li{% if section|default and section == 'chat' %} class="active"{% endif %}><a href="/list/chatrooms">Chat</a></li> -->

            {% if currentUser|default %}
                <li{% if section|default and section == 'profile' %} class="active"{% endif %}><a href="/profile/{{ currentUser.nickname }}">My Profile</a></li>
                <li{% if section|default and section == 'logout' %} class="active"{% endif %}><a href="/logout">Log Out</a></li>
            {% else %}
                <li{% if section|default and section == 'signup' %} class="active"{% endif %}><a href="/signup">Free Sign Up</a></li>
                <li{% if section|default and section == 'login' %} class="active"{% endif %}><a href="/login">Log In</a></li>
            {% endif %}

        </ul>
        <!-- Social Links -->
        <div class="header-social-links">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-soundcloud"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-youtube-play"></i></a>
        </div>
    </div>
</header>
