{# stream/setupInstructions.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <section class="contact-section">
        <div class="container">

            <div class="section-title text-center">
                <br/>
                <h2>Setting up your stream</h2>
                <br/><br/>
                <h3>From an iPhone</h3>
                <br/>
                <h3>From an Andrioid</h3>
                <br/>
                <h3>From a Macbook</h3>
                <br/>
                <h3>From Winblows</h3>
                <br/><br/>
                <h3>For those Linux guyz...</h3>
                <br/>
                <P><a href="/">Click here to go home and try again from oS/2</a></P>
            </div>

{% endblock %}