{# home/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    {% for user in users %}

        <h3>{{ user.nickname }}</h3>
        <p>{{ user.firstName }}, {{ user.lastName }}</p>
        {% if user.streamingKey != '' %}
        <p><a href="/stream/view/{{ user.nickname }}">Watch stream</a></p>

    {% endfor %}

{% endblock %}